@charset 'UTF-8';

@import "./common";
.m-index{
	@include flexbox();
	@include flex-direction(column)
	height:100%;
	header{
		height:.44rem;
		background:red;
		ul{
			@include flexbox();
			height:100%;
			li:first-child,
			li:last-child{
				width:.44rem;
				height:100%;
			}
			li:nth-child(2){
				@include flex();
			}
		}
	}
	nav{
		height:.35rem;
		background:#fff;
		@include border(0 0 1px 0,solid,#d9d9d9);
		ul{
			@include flexbox();
			li{
				@include flex();
				text-align:center;
				line-height:.35rem;
				height:.35rem;
				@include box-sizing(border-box);
				&.active {
					border-bottom: 2px solid $base-color;color: $base-color;
				}
			}
		}
	}
	section{
		background:gray;
		@include flex();
		width:100%;
		overflow-y:scroll;
		ul{
			@include flexbox();
			@include flex-wrap(wrap);
			padding-right:.05rem;
			li{
				width:50%;
				padding-left:.05rem;
				padding-top:.05rem;				
				
				i,b{
					display:block;
				}
				i{
					width: 100%;
				}
				img{
					width:100%;
					
				}
				b{
					@include ellipsis(null,2);

				}
			}
		}
	}
	footer{
		height:.44rem;
		ul {
			@include flexbox();
			@include border(1px 0 0 0,#CED6D0);
			li {
			@include flex();

			&.active b,
			&.active i {
						color:$base-color;
					}
				b,i {
					display:block;
					text-align:center;
					color:#d6d6d6;

				 }
				 b {
				 	font-size:0.12rem;
				 	line-height:.14rem;
				 }
				 i{
					 font-size:.3rem;
					 height:.3rem;
					 line-height:.3rem;

				 }
				 &:nth-child(3){
				 	i{
					 	@include border(1px,#ced6d0,solid,50%);
					 	@include transform(translateX(-50%));
					 	position:relative;
					 	left:50%;
					 	top:-0.16rem;
					 	width:.6rem;
					 	height:.6rem;
					 	background:#fff;
					 	z-index:9999;
				 		line-height:.6rem;
				 		font-size:.4rem;
				 	
				 	}
				 }
			}
		}
	}
	>*{
		width:100%;
	}
}